<!--The content below is only a placeholder and can be replaced.-->
<body bgcolor="yellow">
<div style="text-align:center">
  <h1>
    <marquee> BIENVENIDOS AL: {{ PROYECTO SOBRE ANGULAR}}! </marquee>
  </h1>
  <img width="300" alt="Angular Logo" src="casino1.jpg">
</div>
<h2> CONTINUAMOS CON LA BUSQUEDA O AYUDA DE ANGULAR CON LOS SIGUIENTES ENLACES </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">A CONTINUACION VEREMOS EL TOUR DE LOS HEROES</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">AQUI PODREMOS ENCONTRAR LA DOCUMENTACION DEL -----CLI</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">A CONTINUACION IREMOS AL BLOG DE ANGULAR</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
</body>